<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Quest River - Login</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="public/img/logo.svg" alt="Logo">
        </div>
        <form class = "login">
            <div class="password-div">
                <input type = "email" name ="email">
                <label class="login-label">Login</label>
                <input type = "password" name ="password">
                <label class="login-label">Password</label>
            </div>
        </form>
        <div class="option-labels">
            <label class="login-linklabel">Don't have an account?</label>
            <label class="login-linklabel">Forgot password?</label>
        </div>
    </div>
</body>