<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/styleLogin.css">
    <title>Quest River - Login</title>
</head>
<body>
    <div class="container">
        <div>
            <img src="public/img/logo.svg" alt="Logo">
        </div>
        <form>
            <div class="password-div">
                <input type = "email" name ="email">
                <label>Login</label>
                <input type = "password" name ="password">
                <label>Password</label>
            </div>
        </form>
        <div class="option-labels">
            <label>Don't have an account?</label>
            <label>Forgot password?</label>
        </div>
    </div>
</body>