<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="public/css/styleStatistics.css">
    <title>Quest River - Statistics</title>
</head>
<body>
    <div class = "top-bar">
        <img class = "logo" src="public/img/logo.svg" alt="Logo">
        <div class = "top-stats-bar">
            <img class ="avatar" src="public/img/avatarplaceholder.png" alt="Avatar">
            <div class = "stats-name">
                <label class="label-name">Jourum</label>
                <label class="label-class">Warrior</label>
                <label class="label-level">Lvl. 10</label>
                <div class = "stat-bar">
                    <div class = "level-bar-completed"></div>
                    <label class = "label-bar-amount">40/100 XP</label>
                </div>
            </div>
            <div class = "stats-currency">
                <div class = "currency-row">
                    <img class ="currency-image" src="public/img/money.svg" alt="Gold": >
                    <label class ="label-currency-money-amount">130</label>
                </div>
                <div class = "currency-row">
                    <img class ="currency-image" src="public/img/bill.svg" alt="Gems: ">
                    <label class ="label-currency-bills-amount">200</label>
                </div>
                <div class = "currency-row">
                    <img class ="currency-image" src="public/img/gem.svg" alt="Gems: ">
                    <label class ="label-currency-gems-amount">20</label>
                </div>
            </div>
            <div class = "stats-bars">
                <div class = "stat-bar">
                    <div class = "health-bar-completed"></div>
                    <label class = "label-bar-amount">40/100 HP</label>
                </div>
                <div class = "stat-bar">
                    <div class = "magic-bar-completed"></div>
                    <label class = "label-bar-amount">40/100 MP</label>
                </div>
                <div class = "stat-bar">
                    <div class = "stamina-bar-completed"></div>
                    <label class = "label-bar-amount">40/100 SP</label>
                </div>
            </div>
            <div class = "stats-buttons">
                <img class ="stat-button" src="public/img/buttonsettings.svg" alt="Settings">
                <img class ="stat-button" src="public/img/buttonexit.svg" alt="Exit">
            </div>
        </div>
    </div>
    <div class = "interface">
        <div class = "interface-buttons">
            <button class = "active-button interface-button">Statistics</button>
            <button class = "interface-button">Inventory</button>
            <button class = "interface-button">Quests</button>
            <button class = "interface-button">The Town</button>
        </div>
        <div class = "interface-page">
            <div class = "interface-stats-column">
                <img class ="interface-avatar" src="public/img/avatarplaceholder.png" alt="Avatar">
                <button class = "button-change-avatar">Change Avatar</button>
                <label>Jourum</label>
                <label>Warrior</label>
                <label>Lvl. 10</label>
                <div class = "stat-bar">
                    <div class = "level-bar-completed"></div>
                    <label class = "label-bar-amount">40/100 XP</label>
                </div>
            </div>
            <div class ="interface-attributes">
                <label>Attributes:</label>
                <div class="list-attributes">
                    <label class = "label-attribute">Strength: 20</label>
                    <label class = "label-attribute">Dexterity: 20</label>
                    <label class = "label-attribute">Constitution: 20</label>
                    <label class = "label-attribute">Intelligence: 20</label>
                    <label class = "label-attribute">Wisdom: 20</label>
                    <label class = "label-attribute">Charisma: 20</label>
                </div>
            </div>
            <div class ="interface-skills">
                <label>Skills:</label>
                <div class = "interface-skill-box">
                    <ul>
                        <li><label>Cooking</label><img src="public/img/buttonadd.svg" alt="Add"></li>
                        <li><label>Programming</label><img src="public/img/buttonadd.svg" alt="Add"></li>
                        <li><label>Drawing</label><img src="public/img/buttonadd.svg" alt="Add"></li>
                    </ul>
                </div>
            </div>
            <div class = "interface-party">
                <label>Party:</label>
                <div class = "interface-party-box">

                </div>
            </div>
        </div>
    </div>
</body>
</html>