.interface-stats {
    height: 90%;
}

.interface-stats img {
    border: 1px solid #707070;
    width: 20vw;
    height: 70%;
}

#buttonOpenAvatarModal {
    font: normal normal normal 30px/40px Segoe UI;
}

.modal-content div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.list-attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
    list-style: none;

    border: 1px solid #707070;
}

.list-attributes li {
    display: flex;
    justify-content: space-between;
}

.list-attributes li img {
    display: none;
}