body {
    margin: 0;
}

.top-bar {
    display: flex;
    height: 25vh;

    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
}

.logo {
    padding: 2vw;
}

.stats-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    font: normal normal normal 25px/35px Segoe UI;
    background-color: #055CB7;
    color: #FFFFFF;
}

.avatar {
    width: 9vw;
    height: 21vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.stat-bar {
    display: flex;
    width: 20vw;
    height: 3.4vh;

    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
}

.stat-bar label {
    position: absolute;
    text-align: center;
    width: 20vw;
    color: #707070;
}

.stat-bar div {
    width: 40%;
    height: 100%;
}

.level-bar {
    background: #D4AF37 0 0 no-repeat padding-box;
}

.health-bar {
    background: #D43737 0 0 no-repeat padding-box;
}

.magic-bar {
    background: #37A2FF 0 0 no-repeat padding-box;
}

.stamina-bar {
    background: #00FB32 0 0 no-repeat padding-box;
}

.stats-currency {
    justify-content: space-evenly;
    height: 17vh;
    width: 8vw;
}

.stats-currency div {
    display: flex;
    justify-content: space-evenly;
}

.stats-currency img {
    width: 36px;
    height: 36px;
}

.stats-bars {
    justify-content: space-evenly;

    height: 17vh;
}

.stats-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 20vh;
}

.interface {
    display: flex;
    flex-direction: column;
}

.interface-buttons {
    display: flex;
    justify-content: space-evenly;
    height: 6vh;
    z-index: -1;

    background: #EEEEEE 0 0 no-repeat padding-box;
}

.interface-buttons button {
    width: 22.5vw;
    margin-top: 0.5vh;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;

    font: normal normal normal 30px/40px Segoe UI;
    background: #EEEEEE 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    color: #707070;
    border: 1px solid #707070;
    border-bottom: none;
}

.interface-buttons button.active-button {
    background: #FFFFFF 0 0 no-repeat padding-box;
}

.interface-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 68.6vh;

    font: normal normal normal 25px/35px Segoe UI;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #707070;
    color: #707070;
}

.grey-button {
    color: #707070;
}

.grey-button:hover, .grey-button:focus {
    color: #404040;
    cursor: pointer;
}

.blue-button {
    background-color: #007CE8;
    border: 1px solid #707070;
    color: #FFFFFF;
}

.blue-button:hover, .blue-button:focus {
    background-color: #0063BA;
    cursor: pointer;
}