.interface-stats {
    height: 90%;
}

.interface-stats img {
    border: 1px solid #707070;
    width: 20vw;
    height: 100%;
}

#buttonOpenAvatarModal {
    font: normal normal normal 30px/40px Segoe UI;
}

.modal-content div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.interface-box {
    height: 90%;
    width: 19vw;
}

.list-attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
    padding-left: 2vw;

    border: 1px solid #707070;
}

.interface-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interface-skill-box {
    height: 53vh;

    border: 1px solid #707070;
    overflow-y: scroll;
}

.interface-skill-box ul {
    list-style: none;
    margin: 0;
    padding: 0.5vw;
    width: calc(100% - 1vw);
}

.interface-skill-box li {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    margin-top: 1vh;

    background: #eeeeee;
}

.interface-skill-box label {
    margin-left: 1vw;
    max-width: calc(100% - 4.5vw);
}

.button-add {
    height: 3vh;
    width: 3vh;
    padding-right: 1vw;
}

.button-add:hover, .button-add:focus {
    cursor: pointer;
    filter: brightness(0.25);
}

.interface-skill-box img {
    align-self: center;

    margin-right: 0.25vw;
}

.interface-party-box {
    height: 53vh;
    border: 1px solid #707070;
}

#newSkillInput {
    font: normal normal normal 25px/35px Segoe UI;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
}