.interface-stats {
    height: 90%;
}

.interface-stats img {
    border: 1px solid #707070;
}

#buttonOpenAvatarModal {
    font: normal normal normal 30px/40px Segoe UI;
}

.modal {
    display: none;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font: normal normal normal 15px/25px Segoe UI;
    color: #707070;
}

.modal-content {
    height: 45%;
    width: 15%;
    background-color: #FFFFFF;
    opacity: 1;
    margin: auto;
    padding: 20px;
    border: 1px solid #707070;
}

.modal-content div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    text-justify: center;
}

.modal-content form h3 {
    font-size: 25px;
}

#avatarModalMessages {
    color: #000;
}

.modal-content form button {
    font: normal normal normal 30px/40px Segoe UI;
}

#butttonCloseAvatarModal {
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.interface-box {
    height: 90%;
    width: 19vw;
}

.list-attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
    padding-left: 2vw;

    border: 1px solid #707070;
}

.interface-skill-box {
    height: 53vh;

    border: 1px solid #707070;
    overflow-y: scroll;
}

.interface-skill-box ul {
    list-style: none;
    margin: 0;
    padding: 0.5vw;
    width: calc(100% - 1vw);
}

.interface-skill-box li {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    margin-top: 1vh;

    background: #eeeeee;
}

.interface-skill-box label {
    margin-left: 1vw;
    max-width: calc(100% - 4.5vw);
}

.interface-skill-box img {
    align-self: center;

    margin-right: 0.25vw;
    height: 3vh;
    width: 3vw;
}

.interface-party-box {
    height: 53vh;
    border: 1px solid #707070;
}